In [2]:
import pandas as pd

portfolio_df = pd.DataFrame({'stock': ['AAPL', 'AMZN', 'T'],
                              'no_of_shares': [30, 20, 50],
                               'price_per_share($)': [100.00, 200.00, 700.00]})

portfolio_df

  stock  no_of_shares  price_per_share($)
0  AAPL            30               100.0
1  AMZN            20               200.0
2     T            50               700.0